<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/addUser.css">
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/addUser.js"></script>
</head>

<body>
    <button id="backBtn">Back</button>
    <br>
    <br>
    <h1>{{title}}</h1>
    <br>
    <form id="userForm">
        <fieldset>
            <label>Name:</label>
            <input type="text" value="{{user.name}}" id="name">
            <br>
            <br>
            <label>email:</label>
            <input type="email" value="{{user.email}}" id="email">
            <br>
            <br>
            <label>Password:</label>
            <input type="password" value="{{user.password}}" id="password">
            <br>
            <br>
            <input type="submit" value="{{btnName}}">
            <input type="reset">
        </fieldset>
    </form>
</body>

</html>